.App {
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #f97316;
}

button {
  font-family: 'Ubuntu Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

input, textarea, select {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Unbounded', sans-serif;
}
